.placeholder {
  padding-left: var(--spacing-04);
  color: var(--system-placeholder-01);
  width: 100%;

  &:focus {
    outline: var(--spacing-01) dashed var(--system-outline-01);
    outline-offset: -var(--spacing-03);
  }
}
