.select {
  [class$="-hlgwow"] {
    padding: 0;
    display: flex;
    align-items: center;
  }

  [class$="-19bb58m"] {
    padding: 0;
    margin: 0;
  }

  [class$="-indicatorContainer"] {
    padding: 0;
  }

  [class$="-dummyInput-DummyInput"] {
    width: 0;
  }

  [class$="-menu"] {
    margin-top: 0;
    background-color: var(--select-menu-bg-color);
  }
}
