.option {
  padding: 0 2px;
}

.focused,
.selected {
  background-color: var(--single-select-dropdown-menu-option-selected-bg-color);
  color: var(--single-select-dropdown-menu-option-selected-text-color);
}
