.menuWrapper {
  border: 1px solid var(--single-select-dropdown-menu-list-border-color);
  background-color: var(--single-select-dropdown-menu-list-bg-color);
  max-height: 200px;
  overflow-y: auto;
}
