.wrapper {
  display: grid;
  align-items: center;
}

.row {
  grid-template-columns: auto 1fr;
  column-gap: var(--spacing-06);
}

.column {
  grid-template-columns: 1fr;
  row-gap: var(--spacing-04);
}
