@use "@styles/mixins" as *;

$button-fallback-size: 18px;

.button {
  min-height: var(--button-size-height, $button-fallback-size);
  min-width: var(--button-size-width, $button-fallback-size);
  width: var(--button-size-width, $button-fallback-size);
  height: var(--button-size-height, $button-fallback-size);
  outline: none !important;

  @include assign-border-colors(--system-border-05, --system-border-03);

  @include inset-box-shadow(--system-box-shadow-03, --system-box-shadow-04);

  &:disabled {
    svg {
      fill: var(--system-disabled-01);
    }
  }

  &:active:not(:disabled) {
    padding: 2px 0 0 2px;

    @include assign-border-colors(
      --system-box-shadow-04,
      --system-box-shadow-04
    );
    @include inset-box-shadow(--system-border-05, --system-border-05);
  }
}
