@use "@styles/mixins" as *;

$size: 18px;

.box {
  height: $size;
  width: $size;
  background-color: var(--system-bg-01);
  display: flex;
  align-items: center;
  justify-content: center;

  @include assign-border-colors(--system-border-01, --system-border-02);

  @include inset-box-shadow(--system-box-shadow-01, --system-box-shadow-02);
}

.disabled {
  background-color: var(--system-disabled-02);
}

.invalid {
  border-color: var(--system-error-01);

  @include inset-box-shadow(--system-error-01, --system-error-01);
}

.icon {
  font-size: 8px;
}
