.typography {
  margin: 0;

  &.xs {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  &.sm {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  &.md {
    font-size: 1rem;
    line-height: 1rem;
  }

  &.lg {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  &.xl {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  &.light {
    font-weight: 300;
  }

  &.normal {
    font-weight: 400;
  }

  &.medium {
    font-weight: 500;
  }

  &.semibold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }
}
