@mixin inset-box-shadow-on-right-and-bottom($color) {
  $size: 1.5px;

  box-shadow: inset (-$size) (-$size) 0 0 var(#{$color});
}

@mixin inset-box-shadow-on-left-and-top($color) {
  $size: 1.5px;

  box-shadow: inset $size $size 0 0 var(#{$color});
}

@mixin inset-box-shadow($color1, $color2) {
  $size: 1.5px;

  box-shadow: inset $size $size 0 0 var(#{$color1}),
    inset calc($size * -1) calc($size * -1) 0 0 var(#{$color2});
}

@mixin assign-border-colors($color1, $color2) {
  $size: 1.5px;

  border-width: $size;
  border-style: solid;

  border-top-color: var(#{$color1});
  border-right-color: var(#{$color2});
  border-bottom-color: var(#{$color2});
  border-left-color: var(#{$color1});
}

@mixin assign-border-colors-with-shadow($borderColor, $shadowColor) {
  $size: 1.5px;

  border-width: $size;
  border-style: solid;

  border: var(--spacing-01) solid var($borderColor);

  box-shadow: inset 0 $size 0 0 var($shadowColor), 0 $size 0 0 var($shadowColor),
    inset $size 0 0 0 var($shadowColor), $size 0 0 0 var($shadowColor);
}
