@use "@styles/mixins" as *;

$padding: var(--spacing-04);
$font-size: var(--font-size-04);
$height: calc($font-size + $padding * 2);

.input {
  background-color: var(--system-bg-01);
  padding: $padding;
  font-size: $font-size;
  line-height: calc($padding + $font-size);
  height: $height;
  outline: none;

  &:disabled {
    background-color: var(--system-disabled-02);
  }

  @include assign-border-colors(--system-border-01, --system-border-02);

  @include inset-box-shadow(--system-box-shadow-01, --system-box-shadow-02);
}

.invalid {
  border-color: var(--system-error-01);

  @include inset-box-shadow(--system-error-01, --system-error-01);
}
