@use "@styles/mixins" as *;

.button {
  --button-outline-offset: -6px;

  height: 100%;
  width: 100%;
  min-height: 28px;
  background-color: var(--system-bg-04);
  display: flex;
  align-items: center;
  justify-content: center;

  @include assign-border-colors(--system-border-02, --system-border-04);

  @include inset-box-shadow-on-right-and-bottom(--system-border-01);

  &:focus {
    border-color: var(--system-border-04);
    outline: 1px dashed var(--system-outline-01);
    outline-offset: var(--button-outline-offset);

    @include inset-box-shadow(--system-border-02, --system-border-04);
  }

  &:active:not(:disabled) {
    padding: 3px 0 0 3px;

    @include inset-box-shadow(--system-border-01, --system-border-01);
  }

  &:disabled {
    color: var(--system-disabled-01);
  }
}
