@use "@styles/mixins" as *;

.button {
  height: 100%;
  width: 100%;
  min-height: 28px;
  background-color: var(--button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @include assign-border-colors(
    --button-border-color-primary,
    --button-border-color-secondary
  );

  @include inset-box-shadow-on-right-and-bottom(--button-border-color-tertiary);

  &:focus {
    border-color: var(--button-border-color-secondary);
    outline: 1px dashed var(--button-outline-color);
    outline-offset: -6px;

    @include inset-box-shadow(
      --button-border-color-primary,
      --button-border-color-secondary
    );
  }

  &:active:not(:disabled) {
    padding: 3px 0 0 3px;

    @include inset-box-shadow(
      --button-border-color-tertiary,
      --button-border-color-tertiary
    );
  }

  &:disabled {
    color: var(--button-disabled-color);
  }
}
