@use "@styles/mixins" as *;

.wrapper {
  background-color: var(--system-bg-01);
}

.container {
  height: 400px;
  display: grid;
  grid-template-rows: var(--spacing-13);
  align-content: space-between;
}
