@use "@styles/mixins" as *;

$height: 24px;
$line-height: 20px;
$padding-right: 1.5px;

.control {
  background-color: var(--single-select-bg-color);
  line-height: $line-height;
  height: $height;
  display: flex;
  align-items: center;
  padding-right: $padding-right;

  @include assign-border-colors(
    --single-select-border-color-primary,
    --single-select-border-color-secondary
  );

  @include inset-box-shadow(
    --single-select-box-shadow-primary,
    --single-select-box-shadow-secondary
  );
}

.invalid {
  border-color: var(--single-select-error-color);

  @include inset-box-shadow(
    --single-select-error-color,
    --single-select-error-color
  );
}

.disabled {
  background-color: var(--single-select-disabled-color-secondary);
  color: var(--single-select-disabled-color-primary);
}
