@use "@styles/mixins" as *;

$height: var(--spacing-12);
$line-height: var(--spacing-11);
$padding-right: 1.5px;

.control {
  background-color: var(--system-bg-01);
  line-height: $line-height;
  height: $height;
  display: flex;
  align-items: center;
  padding-right: $padding-right;

  @include assign-border-colors(--system-border-01, --system-border-02);

  @include inset-box-shadow(--system-box-shadow-01, --system-box-shadow-02);
}

.invalid {
  border-color: var(--system-error-01);

  @include inset-box-shadow(--system-error-01, --system-error-01);
}

.disabled {
  background-color: var(--system-disabled-02);
  color: var(--system-disabled-01);
}
