@use "@styles/mixins" as *;

.thumb {
  border-radius: unset !important;
  cursor: default !important;
  background-color: var(--system-bg-04) !important;

  @include assign-border-colors(--system-border-05, --system-border-03);

  @include inset-box-shadow(--system-box-shadow-03, --system-box-shadow-04);
}
