.text {
  padding-left: 4px;
  width: 100%;

  &:focus:not(.disabled) {
    outline: 1px dashed var(--system-outline-02);
    outline-offset: -1.5px;
    color: var(--system-outline-02);
    background-color: var(--system-bg-03);
  }
}

.disabled {
  outline: none;
}
