.text {
  padding-left: var(--spacing-04);
  width: 100%;

  &:focus:not(.disabled) {
    outline: var(--spacing-01) dashed var(--system-outline-02);
    outline-offset: -var(--border-size);
    color: var(--system-outline-02);
    background-color: var(--system-bg-03);
  }
}

.disabled {
  outline: none;
}
