@use "@styles/mixins" as *;

.inputWrapper {
  --padding: var(--spacing-04);
  --font-size: var(--font-size-04);
  --input-height: var(--spacing-10);

  background-color: var(--system-bg-01);
  outline: none;
  display: grid;
  grid-template-columns: 1fr var(--spacing-10);
  line-height: calc(var(--padding) + var(--font-size));
  height: calc(var(--font-size) + var(--padding) * 2);
  align-items: center;

  @include assign-border-colors(--system-border-01, --system-border-02);

  @include inset-box-shadow(--system-box-shadow-01, --system-box-shadow-02);
}

.disabled {
  background-color: var(--system-disabled-02);
}

.invalid {
  border-color: var(--system-error-01);

  @include inset-box-shadow(--system-error-01, --system-error-01);
}
