$chevron-size: var(--spacing-06);

.chevron {
  width: $chevron-size;
  height: $chevron-size;
}

.rotated {
  transform: rotate(180deg);
}

.top,
.bottom {
  position: absolute;
  z-index: 1;
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
