$chevron-size: var(--spacing-06);

.chevron {
  width: $chevron-size;
  height: $chevron-size;
}

.rotated {
  transform: rotate(180deg);
}

.top,
.bottom {
  position: absolute;
  z-index: 1;
  right: var(--border-size, 0);
}

.top {
  top: var(--border-size, 0);
}

.bottom {
  bottom: var(--border-size, 0);
}
