.menuWrapper {
  --border-size: 1.5px;

  border: var(--border-size) solid
    var(--single-select-dropdown-menu-list-border-color);
  background-color: var(--single-select-dropdown-menu-list-bg-color);
}
